{% extends 'base.html' %}

{% block content %}

<section id="services" class="services section-bg">
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Register ! </h1>
                <form action = "http://192.168.123.254:9000/web/user/inscription" 
                    method = "GET">
                    
                    <div>
                        <label>Entrer votre nom :</label>
                        <input type = "text" name = "name" />
                    </div>

                    <div>
                        <label>Enter Password :</label>
                        <input type = "text" name = "password" />
                    </div>
                    <p><input type = "submit" value = "Enregistrer" /></p>
                </form>   
            </div>
        </div>
    </div>
</section>


{% endblock %}