{% extends 'base.html' %}

{% block content %}

<section id="services" class="services section-bg">
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="width:400px">
                    <h1>Inscription ! </h1>
                    <form method = "GET">
                        <div class="form-goup">
                            <label>Entrer votre nom :</label>
                            <input class="form-control" type = "text" name = "name" />
                        </div>

                        <div class="form-goup">
                            <label>Entrer votre mot de passe :</label>
                            <input class="form-control" type = "text" name = "password" />
                        </div>
                        <div class="form-goup">
                            <input type = "submit" value = "Enregistrer" />
                        </div>
                    </form> 
                </div>  
            </div>
        </div>
    </div>
</section>


{% endblock %}