{% extends 'base.html' %}


{% block content %}
<script type="application/javascript">
    
    $(document).ready(function() {
        globalUrl = $('#ip_address').val()
        
        getListByPage(page = 1)

        $(document).on('keyup', '#find_by_value', function(event) {
            event.preventDefault()
            let value = $(this).val()
            getListByPage(page = 1, value)
        })

        function getEtat(status) {
            etat = ''
            switch(parseInt(status)){
                case 1:
                    etat = 'Début ramassage'
                break;
                case 2:
                    etat = 'Fin ramassage'
                break;
                case 3:
                    etat = 'Début emballage'
                break;
                case 4:
                    etat = 'Fin emballage'
                break;

                case 5:
                    etat = 'Prépa expédition'
                break;

                case 6:
                    etat = 'Expédition'
                break;
            }
            return etat
        }

        function getListByPage(page = 1, search_by_value='') {
            
            $('#pagination').pagination({
                dataSource: globalUrl+'/api/blflist/'+ page + '?search_by_value=' + search_by_value,
                locator: 'items',
                totalNumberLocator: function(response) {
                    // you can return totalNumber by analyzing response content
                    console.log('response start ajax')
                    console.log(response.pagination.totalNumber)
                    console.log('response end ajax')
                    return response.pagination.totalNumber;
                },
                pageSize: 10,
                ajax: {
                    beforeSend: function() {
                        //$('#blf-list').html("");
                        $('#blf-list').append("<tr>"
                            + '<td colspan="8"><div class="flex-j-center"> Veuillez patienter s\'il vous plait les données vont être affichées ... </div></td>'
                            + "</tr>")
                        console.log("Veuillez patienter s'il vous plait les données vont être affichées ...")
                        // dataContainer.html('Loading data from flickr.com ...');
                    }
                },
                callback: function(items, pagination) {
                    // template method of yourself
                    //$('#blf-list').html("");
                    for (var i = 0; i < items.length; i++) {
                        id      = items[i].id
                        numblf  = items[i].NumBlf
                        client  = items[i].client
                        date_saisie =  items[i].date_saisie
                        nblg    = items[i].nblg
                        adv     = items[i].saisie
                        statut  = items[i].statut
                        province = items[i].province
                        district = items[i].district
                        //console.log(blflist['data'][i])
                        $('#blf-list').append("<tr>"
                            + "<td>" + id + "</td>"
                            + "<td>" + numblf + "</td>"
                            + "<td>" + nblg + "</td>"
                            + "<td>" + client + "</td>"
                            + "<td>" + date_saisie + "</td>"
                            + "<td>" + adv + "</td>"
                            + "<td>" + getEtat(statut) + "</td>"
                            + "<td>" + province +' '+ district + "</td>"
                            
                            + "</tr>")
                    }
                    console.log(items)
                    //dataContainer.html(html);
                }
            })

           /* $.ajax({
                method : 'GET'
                ,url : globalUrl+'/api/blflist/'+ page
                ,dataType: 'JSON'
                , success : function(blflist) {
                    console.log(blflist)
                    
                    //$('#pagination').append('<ul></ul>')
                    //for (var i =0; i < blflist['pagination']['max']; i++) {
                        //$('#pagination').find('ul').append('<li>'+i+'</li>')
                    //}
                }
            });*/
        }

        

    })

</script>

<section id="services" class="services section-bg">
    <input id="ip_address" type="hidden" name="ip_address" value="{{ ip_address }}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Page pour la géstions des bon de livraison et facturation! </h1>
                <input type="text" id="find_by_value" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>N°BLF</th>
                            <th>NB Lg</th>
                            <th>Client</th>
                            <th>Date de saisie</th>
                            <th>ADV</th>
                            <th>Etat</th>
                            <th>PROVINCE/DISTRICT</th>
                        </tr>
                    </thead>
                    <tbody id="blf-list"></tbody>
                </table>
                <div id="pagination"></div>
            </div>
        </div>
    </div>
</section>


{% endblock %}