{% extends 'base.html' %}


{% block content %}
<script type="application/javascript">
    
    $(document).ready(function() {
        globalUrl = $('#ip_address').val()
        
        getListByPage(page = 1)

        function getListByPage(page = 1) {
            $.ajax({
                method : 'GET'
                ,url : globalUrl+'/api/blflist/'+ page
                ,dataType: 'JSON'
                , success : function(blflist) {
                    console.log(blflist)
                    for (var i = 0; i < blflist['data'].length; i++) {
                        id      = blflist['data'][i].id
                        numblf  = blflist['data'][i].NumBlf
                        client  = blflist['data'][i].client
                        nblg    = blflist['data'][i].nblg
                        adv     = blflist['data'][i].saisie
                        //console.log(blflist['data'][i])
                        $('#blf-list').append("<tr>"
                            + "<td>" + id + "</td>"
                            + "<td>" + numblf + "</td>"
                            + "<td>" + nblg + "</td>"
                            + "<td>" + client + "</td>"
                            + "<td>" + adv + "</td>"
                            + "</tr>")
                    }
                }
            });
        }

    })

</script>

<section id="services" class="services section-bg">
    <input id="ip_address" type="hidden" name="ip_address" value="{{ ip_address }}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Page pour la géstions des bon de livraison et facturation! </h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>N°BLF</th>
                            <th>NB Lg</th>
                            <th>Client</th>
                            <th>ADV</th>
                        </tr>
                    </thead>
                    <tbody id="blf-list"></tbody>
                </table>
            </div>
        </div>
    </div>
</section>


{% endblock %}